.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  form {
    margin-top: 10rem;
  }

  .cards {
    margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
